/* 全体 */
body {
	background-color: rgb(255, 255, 255);
	/* 背景色  */
	text-align: center;
	/* 中央寄せ */

	/* 最小幅 */
}

div {
	border: solid 5px;
	border-color: rgb(255, 96, 0);
	min-width: 1%;
}

/* ヘッダー、ナビゲーションメニュー、フッター */
header,
footer {
	font-size: 30px;
	font-weight: 900;
	background-color:red;
	background: linear-gradient(90deg,
			rgb(255, 0, 0), rgb(255, 0, 128),  rgb(0, 0, 255));
	background-size: 300% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


/* ヘッダー内見出し */
header h1 {
	content: 1F30B;
	font-size: 40pt;
	margin: 10px auto;

	a {
		color: rgb(255, 255, 255);
		text-decoration: none;
	}
}

/* 仕切り線 */
hr {
	border-top: 8px dashed rgb(255, 128, 64);
}

表線 table,
th,
td {
	border-collapse: collapse;
	border: 1px solid rgb(0, 0, 0);
}

/* 表 */
table {
	margin: 15px auto;
	min-width: 1000px;
	min-height: 100px;

}


/* 表見出しセル */
table th {
	background: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}


header button.btn {
	background-color: red;
	color: white;
	margin-right:auto;
}

/* 送信ボタン */
button {

	margin: 2px;
	padding: 10px 20px;
	background-color: rgb(255, 0, 0);
	color: #ffffff;
	border: none;
	width: 150px;
	cursor: pointer;
}


/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(241, 178, 178);
}