<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録入力ページ</title>
</head>

<body>
	<h1>記録入力ページ</h1>
	[[${@account.name}]]さん、こんにちは
	<form action="/records/add" method="post">
		<table border="1">
			<tr>
				<th>日付</th>
				<th>種目</th>
				<th>分数</th>
				<th>体重</th>
			</tr>
			<tr>
				<td><input type="date" name="date"> </td>
				<td><span th:text="${eventId[]}"></span></td>
				<td><input type="number" name="time"> 分</td>
				<td><input type="number" name="weight">kg</td>
			</tr>
		</table>
		<button>ENTER!!!!</button>
	</form>

<a href="/logout">ログアウト</a>
	
</body>

</html>